@use '_colors';
@use '_opacity';

.content_container{
    max-width: 1110px;
    width:100%;
    min-height: 1243px;
    margin: auto;
    margin-top: 62px;

    .info{
        max-width: 1109px;
        min-height: 93px;
        width: 100%;
        margin: 45 auto;
        color: colors.$p-color;
        opacity: opacity.$opacity-08;
        line-height: 26px;
    }

    .image{
        display: flex;
        justify-content: space-between;
    }
}