@use '_colors';

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1109px;
    width: 100%;
    min-height: 60px;
    margin: auto;     


    &__logo {
        max-width: 90px;
        width: 100%;
        min-height: 19px;
    }

    .nav__list {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;

        .nav__link {
            margin-left: 24px;

            .link {
                text-decoration: none; 
                color: #111111;
                font-weight: bold;
                font-size: 18px;
                transition: color 0.3s ease-in-out;

                &:hover {
                    color: colors.$hover;
                }
            }
        }
    }
}
