@use 'colors';

.hero__container{
    max-width: 1109px;
    width: 100%;
    min-height: 251px;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: auto;

    &-text{
        max-width: 635px;
        width: 100%;
        min-height: 251px;

        &-title{
            margin-top:6rem;
            margin-bottom: 2rem;
            font-weight: bold;
            font-size: 22px;
            color: colors.$txt-hero;
        }
        &-content {
            font-size: 40px;
            line-height: 60px;

            span{
                color: colors.$txt-hero;
            }
        }
    }

    .hero__tagline{
        margin-bottom: 1.5rem;
    }
}
