@use '_font';
@use '_colors';
@import '_header';
@import '_hero-project';
@import '_content-project';
@import '_footer';


body{
    font-family: font.$main-font;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 60px;
}

h1{
    font-size: 40px;
    line-height: 55px;
}

h3{
    font-size: 18px;
    font-weight: bold;
}

h4{
    font-size: 18px;
    font-weight: bold;
}

p{
    font-size: 16px;
    font-weight: regular;
    color: colors.$p-color;
}




